@import 'tailwindcss';

div#leafletcontainer {
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadein {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  /* animation-duration is set in code to a random number */
}
